.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form span {
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: var(--text-white);
}
.form {
  width: 25rem;
  padding: 2rem;
  border: 2px solid var(--primary-color);
}
.icon-input {
  color: var(--text-white);
}
.text-error {
  color: var(--text-danger);
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-container .btn:hover {
  background-color: transparent;
}
.btn-container .btn-outline-primary {
  background-color: transparent;
}
.btn-container .btn-outline-primary:hover {
  background-color: var(--primary-color);
}
.link-primary {
  color: var(--text-white);
  font-size: 14px;
  cursor: pointer;
}
.link-primary:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
@media screen and (max-width: 500px) {
  .auth-container {
    display: flex;
    align-items: center;
    margin-top: 5rem;
  }
}
