.image{
    height: 60vh;
    width: 100%;
    background: black;
    overflow: hidden;    
}
img {
    height: 60vh;
    object-fit: fill;
    opacity: 0.3;
}
.container{
    display: flex;
    flex-direction: column;
}
.bold-text{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 1.5rem 0;
    justify-content: center;
    align-items: center;
    color: white;

}

hr{
    border-bottom: 5px solid var(--accent-color);
    width: 10rem;
    margin-top: 10px;

}
.videos-div{
    display: flex;
    justify-content: space-evenly;
}
.card .img-lg{
    width: 16rem;
    opacity: 1;
    height: 10rem;
}
.card{
    width: 16rem;
}
.card .card-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
}