.playlist-container{
    display: flex;
    gap:3rem;
    justify-content: center;
    flex-wrap: wrap;
}
.playlist{
    cursor: pointer;
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: var(--text-white);
    position: relative;
}
.playlist-overlay{
    position: absolute;
    background-color: rgb(31, 31, 31);
    opacity: 0.7;
    width: 6rem;
    right: 0;
    height: 8rem;
    
}
.playlist:hover{
    background-color: var(--bg-sidebar);
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.playlist:hover .delete{
    visibility: visible;
}
.playlist-image{
    height: 8rem;
    width: 15rem;
    object-fit: cover;
}
.playlist-bottom{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.delete{
   visibility: hidden;
}