nav{
    display: flex;
    background-color: #161618;
    height: 3.5rem;
    align-items: center;
    padding: 0 5rem 0 7rem;
    opacity: 1;
    justify-content: space-between;
    position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: 0.3s;
}
nav.active{
    background-color: rgb(22, 22, 22);
}
.image{
    height: 70vh;
    width: 100%;
    background: black;
    overflow: hidden;    
}
img {
    height: 70vh;
    width: 100%;
    object-fit: fill;
    opacity: 0.3;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    position: sticky;
}
ul li{
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    font-size: 0.8rem;
}
.search-input{
    width: 20rem;
    padding: 0.3rem 1rem;
    border: 1px solid rgb(154, 154, 154); 
    border-radius: 10px;
    color: white;
}
.bold-text{
    font-size: 1.1rem;
}
.btn-small{
    width:5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border: none;
    border-radius: 10px;
    color: white;
}
.nav-text{
    font-weight: bold;
    color: var(--accent-color);
    font-size: 1.2rem;
}