.category-container{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}
 .btn-explore{
    border: 1px solid var(--primary-color);
    color: var(--text-gray-dark);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: transparent;
}
.btn-explore:hover{
    background-color: var(--primary-color);
}
 .active{
    background-color: var(--primary-color);

}

.videos-container{
    display: flex;
    margin-top: 1rem;
    gap:2rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@media screen and (max-width:500px){
    .video-container{
        gap: 1rem;
    }
    .category-container{
        margin-top: 4rem;
    }
}