:root{
    --bg-black-hover : rgb(31, 31, 31);
}
.like-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 .btn-outline-primary{
    background-color: transparent;
}
