html{
    background-color: #0e0e0f;
}
.app{
    display: flex;
    height: 100%;
    gap: 1rem;
}
.app-container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 90%;
    padding: 2rem;
    justify-content: center;
    position: relative;
    left: 7rem;
}

@media screen and (max-width:500px){
    .app{
        padding: 0;
            
    }
    .app-container{
        margin: 0;
        padding: 0;
        width: 100vw;
        position: relative;
        left: 0;
       
    }
}